version: "3.1"

services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: music-room
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: music-room
    ports:
      - 5432:5432
    volumes:
      - postgres_database:/var/lib/postgresql
      - ./docker/sql/:/docker-entrypoint-initdb.d/:ro
  api:
    build:
      context: .
      dockerfile: ./api.dockerfile
    restart: always
    ports:
      - 4000:4000
    environment:
      MODE: ${MODE}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DATABASE: ${POSTGRES_DATABASE}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      GOOGLE_AUTH_LOGIN_URL: ${GOOGLE_AUTH_LOGIN_URL}
      OAUTH_REDIRECTION: ${OAUTH_REDIRECTION}
      SENDGRID_API_KEY: ${SENDGRID_API_KEY}
      COOKIE_SECRET: ${COOKIE_SECRET}
      SENDGRID_SENDER: ${SENDGRID_SENDER}
      ACCOUNT_ACTIVATION_URL: ${ACCOUNT_ACTIVATION_URL}
      PORT: ${PORT}
      LISTEN_HOST: ${LISTEN_HOST}
    volumes:
      - .:/app/

volumes:
  postgres_database:
    external: true
