.app-button {

  &--loading {
    position: relative;
    overflow: hidden;
    &::before {
      z-index: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(#aaa, 0) 0,
        rgba(#aaa, 0.2) 20%,
        rgba(#aaa, 0.5) 60%,
        rgba(#aaa, 0)
      );
      animation: shimmer 2s infinite;
      content: '';
    }

    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }
  }

 

}