@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './styles/loading.scss';

body {
    background-color: rgb(235, 235, 235);
}


.app-conversation {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);

    &__container {
        flex-grow: 1;
        overflow-y: scroll;
    }

    &__send {
        height: 40px
    }

}

.app-playlist {
    height: calc(100vh - 100px);
}